header {

    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    
}

ul {
    
    display:flex;
    
}

.tit-descrizione {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:50px;
    color: white;
    margin-left:30px;
}

li {
    list-style-type: none;
    margin:30px;
    font-size:25px;
    
    
}

a {
    
    text-decoration: none;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-image: url("milan-campione.jpeg");
    background-repeat:no-repeat;
    background-size: 1280px 1039px;
       
}

h1 {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:50px;
    color: white;
    margin-left:30px;
}

footer {
   
    border: 1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-size:20px;

}