
header {

    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color:black;
    
}

ul {
    
    display:flex;
    
}

h1 {

    text-align:center;
    font-family: 'Tiro Tamil', serif;
    font-size:50px;
    color: white;
    margin-left:30px;
}

li {
    list-style-type: none;
    margin:30px;
    font-size:25px;
    
    
}

a {
    
    text-decoration: none;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-image: url("milan-campione.jpeg");
    background-repeat:no-repeat;
    background-size: 1280px 1010px;
       
}

main {

    width: 1200px;
    height: 800px;
}

.news {

    border:1px solid red;
    width:1200px;
    height: 400px;
    margin-left:23px;
    position:relative;
    top:280px;
    background-color:red;

}

iframe {

    margin-left:300px;
}

.tit-news {

     color:black;
     text-align:center;
}

footer {
   
    border: 1px solid black;
    background-color:black;
    color:white;
    text-align:center;
    font-size:20px;

}